<div class="row">
    <div class="col-12">
        <label for="name">Name: </label>
        <input id="name" type="text" placeholder="Customer name" [formControl]="name" class="form-control mb-2">
    </div>
    <div class="col-12">
        <button class="btn btn-primary" (click)="addOrder()" [disabled]="!name.valid">Add customer</button>
    </div>
</div>
<div class="row">
    <div class="col-4">
    <h3 *ngIf="name.valid">Customer Name:{{name.value}}</h3>
    <p>{{order?.date_signed}}</p>
    </div>
    <div class="col-8">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of order?.OrderDetails">
                    <th scope="row">{{p.product.id}}</th>
                    <td>{{p.product.product_name}}</td>
                    <td>{{p.product.price}}</td>
                    <td>{{p.quantity}}</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td></td><td></td>
                     <th scope="row">Total:</th>
                     <td>2</td>
                </tr>
            </tfoot>
        </table>
    </div> 
</div>